<div class="row">
    <h1>Proyecto Realizado</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto</h1>
            <div>
              <i class="fas fa-edit fa-lg text-info mr-2"></i>
              <i class="fas fa-trash-alt fa-lg text-danger"></i>
     </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, beatae illum modi porro voluptate vero ipsa ratione quam quibusdam temporibus, inventore aliquam alias reiciendis ut dolorum voluptates molestias optio voluptatum?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/APLogo.png"
            class=" img-proyecto">
        </div>
        <div>
          <i class="fas fa-edit fa-lg text-info mr-2"></i>
          <i class="fas fa-trash-alt fa-lg text-danger"></i>
 </div>
</div>>
