<div class="hard">
<div class="row">
    <h1>Hard & Soft Skills</h1>
</div>
<div  class="text-center col-sm-6 col-md-6 col-lg-6">  
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [imageWidth]="70"
    [imageHeight]="70"
    [imageSrc]="'../assets/HTML.png'"
    [showSubtitle]="false"
    [showImage]="true"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19F906'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
  <div>
    <div>
        <i class="fas fa-edit fa-lg text-info mr-2"></i>
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
</div>
<div  class="text-center col-sm-6 col-md-6 col-lg-6">  
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [imageWidth]="70"
    [imageHeight]="70"
    [imageSrc]="'../assets/CSS.png'"
    [showSubtitle]="false"
    [showImage]="true"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19F906'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
  <div>
    <div>
        <i class="fas fa-edit fa-lg text-info mr-2"></i>
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
</div>
<div  class="text-center col-sm-6 col-md-6 col-lg-6">  
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [imageWidth]="70"
    [imageHeight]="70"
    [imageSrc]="'../assets/js.png'"
    [showSubtitle]="false"
    [showImage]="true"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19F906'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
  <div>
    <div>
        <i class="fas fa-edit fa-lg text-info mr-2"></i>
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
</div><div  class="text-center col-sm-6 col-md-6 col-lg-6">  
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [imageWidth]="70"
    [imageHeight]="70"
    [imageSrc]="'../assets/boostrap.png'"
    [showSubtitle]="false"
    [showImage]="true"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19F906'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
  <div>
    <div>
        <i class="fas fa-edit fa-lg text-info mr-2"></i>
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
</div>
<div  class="text-center col-sm-6 col-md-6 col-lg-6">  
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [imageWidth]="70"
    [imageHeight]="70"
    [imageSrc]="'../assets/Angular.png'"
    [showSubtitle]="false"
    [showImage]="true"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19F906'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
  <div>
    <div>
        <i class="fas fa-edit fa-lg text-info mr-2"></i>
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
</div>
<div  class="text-center col-sm-6 col-md-6 col-lg-6">  
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [imageWidth]="70"
    [imageHeight]="70"
    [imageSrc]="'../assets/HTML.png'"
    [showSubtitle]="false"
    [showImage]="true"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19F906'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
  <div>
    <div>
        <i class="fas fa-edit fa-lg text-info mr-2"></i>
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
</div>
<div  class="text-center col-sm-6 col-md-6 col-lg-6">  
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [imageWidth]="70"
    [imageHeight]="70"
    [imageSrc]="'../assets/HTML.png'"
    [showSubtitle]="false"
    [showImage]="true"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19F906'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
  <div>
    <div>
        <i class="fas fa-edit fa-lg text-info mr-2"></i>
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
</div>
  </div>